.cmp-adaptiveform-button {
  position: relative;
  border: none;
  margin: $space-s 0;
  &__widget {
    @include primary-button;
  }
  &__widget[data-cmp-enabled]:not([data-cmp-enabled=true]) {
    background: $gray;
    color: $very-light-gray;
  }
  @include description;
  &__questionmark{
    @media (max-width: 640px) {
      top: -5px;
    }
  }
}

.submit {
  position: sticky;
  bottom: 0;
  z-index: 12;
  width: calc(100% + 40px);
  & button {
    margin-top: 0;
    background: #161616;
    color: white;
    &:hover {
      background-color: $gray;
    }
  }
}


.cmp-adaptiveform-wizard:has(.cmp-adaptiveform-wizard__nav--next[data-cmp-visible="false"]) .cmp-adaptiveform-wizard__containerNav {
  right: 161px;
}

.cmp-adaptiveform-wizard__widget .cmp-adaptiveform-wizard__wizardpanel:last-child{
  position: relative;
}
.cmp-adaptiveform-wizard .submit .cmp-adaptiveform-button{
  position: absolute;
  bottom: -138px;
  right: -41px;
} 