.cmp-adaptiveform-pageheader {
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: $space-s;
  padding: 10px 24px 0;
  color: $secondary;
  font-size: $font-m;
  word-break: break-all;
  box-sizing: border-box;

  img {
    height: $space-m;
    margin: 0;
    width: auto;
    color: white;
    display: block;
  }

  div:last-child {
    display: flex;
    align-items: center;
  }

  p {
    margin: 0;
  }
}